@import-normalize;
@import './rules';

:root{
  --border-radius: 7px;
  --blue-shade: hsl(229, 64%, 46%);
  --transition-duration: .3s;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  overflow: hidden;
}

.main_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.main_title{
  width: 85%;
  max-width: 650px;
  height: 130px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rules_button_container, .reset_button_container{
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: var(--border-radius);
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: transparent;
}

.rules_button_container{
  margin-top: unset;
  margin-left: 20%;
}

#controls{
  position: absolute;
  bottom: 30px;
  height: fit-content;
  display: none;
  flex-direction: row;
  right: unset;
}


.rules_button_container:hover, .game_icon_container:hover, .reset_button_container:hover{
  cursor: pointer;
}

.rules_button_container:hover, .reset_button_container:hover{
  background-color: white;
  color: hsl(229, 25%, 31%);
  box-shadow: 1px 1px 10px 5px #fff;
}

.logo{
  width: 100%;
  height: 100%;
}

.logo_container:nth-of-type(1){
  height: 100%;
  width: 95px;
}

.logo_container:nth-of-type(2){
  height: 100%;
  width: 130px;
}

.logo_container_fit{
  width: fit-content;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.logo_container_screen{
  height: 90px;
  width: 95px;
  overflow: hidden;
}

.score_container{
  height: 100%;
  width: 120px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 10px 0;
}

.score_screen{
  width: 40px;
  height: 46px;
  overflow: hidden;
}

.score_container_fit{
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: transform var(--transition-duration) linear;
}

.score_container p{
  color: var(--blue-shade);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.score_container_fit p{
  font-size: 40px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
  width: 100%;
  text-align: center;
}

.score{
  width: 40px;
  height: 100%;
}

#pentagon, #triangle{
  width: 50%;
  height: 70%;
  margin-bottom: 40px;
}

.game_icon_container, .game_icon_container_computer{
  position: absolute;
  border-radius: 50%;
  width: 20%;
  height: 29.924%;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  border: none;
  outline: none;
  transition: transform var(--transition-duration) linear;
}

.game_icon_container:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 10px 5px #fff !important;
  transition: transform var(--transition-duration) linear;
}

.game_icon{
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 70%;
}

.inner_circle, .shadow{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow{
  background-color: #bfbfbf;
  overflow: hidden;
  position: relative;
  width: 75%;
  height: 75%;
}

.inner_circle{
  position: relative;
  background-color: #ddd;
  top: 5px;
  width: 100%;
  height: 100%;
}

.hard:nth-of-type(1), .easy:nth-of-type(1){
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  top: 10px;
  right: 200px;
}

.easy:nth-of-type(1){
  top: 15px;
  right: 90px;
}

.hard:nth-of-type(2), .easy:nth-of-type(2){
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  top: 110px;
  right: 75px;
}

.easy:nth-of-type(2){
  top: 15px;
  right: 310px;
}

.hard:nth-of-type(3), .easy:nth-of-type(3){
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  bottom: 0px;
  right: 120px;
}

.easy:nth-of-type(3){
  bottom: 25px;
  right: 200px;
}

.hard:nth-of-type(4){
  background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  bottom: 0px;
  right: 275px;
}

.hard:nth-of-type(5){
  background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  top: 110px;
  right: 330px;
}

#computer_picked{
  top: 140px;
}

.general_container_hard, .general_container_easy{
  height: 334px;
  width: fit-content;
  min-width: 500px;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}

.main_game_container{
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.main_game, .main_game_two{
  min-width: 500px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all var(--transition-duration) linear;
}

.main_game_two{
  position: absolute;
  display: none;
}

.result_box{
  height: fit-content;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.result_box p{
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.result_button{
  margin-top: 15px;
  width: 120px;
  height: 35px;
  background-color: #fff;
  border-radius: var(--border-radius);
  color: hsl(229, 25%, 31%);
  border: none;
}

.result_button:hover{
  cursor: pointer;
  box-shadow: 1px 1px 10px 5px #fff;
}

#difficulty_level{
  height: 90px;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#difficulty_level p {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

#slider{
  width: 60px;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

#slider_ball{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--blue-shade);
  position: relative;
  cursor: pointer;
  left: 35px;
  transition: left var(--transition-duration)  cubic-bezier(
    0.175, 0.885, 0.320, 1.275
  );
}

.overall_container{
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: right var(--transition-duration)  cubic-bezier(
    0.175, 0.885, 0.320, 1.275
  );
}

.container_screen{
  height: 100%;
  width: 500px;
  overflow: hidden;
}

@media only screen and (min-width: 660px){
  #controls{
      flex-direction: column;
      right: 30px;
  }

  .rules_button_container {
    margin-top: 40px;
    margin-left: unset;
  }
}


@media only screen and (max-width: 385px){
  .score_container{
    width: 100px;
    margin-left: 10px;
  }

  .logo_container:nth-of-type(2){
    width: 120px;
  }
}
